<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Ajout de produit</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Je SuIs En TrAiN d'AjOuTeR uN pRoDuIt:</h1>
<br/>
<a th:href="@{/}">Maison</a>
<br/>
<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/addProduct}"
      th:object="${productForm}" method="POST">

  Id du PRODUIT:
  <input type="text" th:field="*{id}" />
  <br/>
  Nom du PRODUIT:
  <input type="text" th:field="*{nom}" />
  <br/>
  PRIX de PRODUIT:
  <input type="text" th:field="*{prix}" />
  <br/>
  URL de l'image:
  <input type="url" th:field="*{image}" />
  <br/>

  <input type="submit" value="Create" />
</form>

<br/>



</body>
</html>