<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Products List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Les produits</h1>
<br/>
<a th:href="@{/products}">Retour à la liste</a>
<br/>
<br/>
<div>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
    </tr>
    <tr>
      <td th:utext="${product.nom}">...</td>
      <td th:utext="${product.prix}">...</td>
      <td><img th:src="${product.image}" th:width="300" th:height="300"/></td>
    </tr>
  </table>
</div>
</body>
</html>